@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    font-family: Roboto;
    margin: 0;
}

#header {
    background-color: #1f2937;
    color: #f9faf8;
    font-weight: bold;

    margin: 0;
    padding: 16px 200px;

    display: flex;
    justify-content: space-between;
}

#header .logo {
    font-size: 24px;
}

#header .header-links {
    display: flex;
    gap: 24px
}

#header a {
    font-size: 18px;
    font-weight: 300;
    color: #e5e7eb;
    text-decoration: none;
}

#hero {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 100px 200px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

#hero h1 {
    margin: 0px;
    padding: 0px;
    font-size: 48px;
    font-weight: 700;
}

#hero .subtext {
    font-size: 18px;
    font-weight: 300;
    color: #e5e7eb;
    margin: 10px 0px;
}

#hero button.signup {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 25px;
    border-radius: 8px;
    border: none;
}

#hero .placeholder-image {
    width: 500px;
    height: 250px;
    background-color: #888888;

    display: flex;
    justify-content: center;
    align-items: center;
}

#random-info {
    padding-top: 50px;
    padding-bottom: 100px;
}

#random-info h2 {
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

#random-info .info-boxes {
    display: flex;
    gap: 64px;
    justify-content: center;
}

#random-info .item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#random-info .item .box {
    width: 150px;
    height: 150px;
    border: solid 4px #3882f6;
    border-radius: 16px;
}

#random-info .item .subtext {
    color: #2f3947;
    width: 150px;

    font-weight: 300;
    font-size: 16px;
    text-align: center;
}

#quote {
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 100px 300px;
}

#quote p {
    font-size: 36px;
    font-style: oblique;
    font-weight: 300;
}

#quote .attribution {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: end;
}