@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    font-family: Roboto;
    margin: 0;
}

#header {
    background-color: #1f2937;
    color: #f9faf8;
    font-weight: bold;

    margin: 0;
    padding: 16px 200px;

    display: flex;
    justify-content: space-between;
}

#header .logo {
    font-size: 24px;
}

#header .header-links {
    display: flex;
    gap: 24px
}

#header a {
    font-size: 18px;
    font-weight: 300;
    color: #e5e7eb;
    text-decoration: none;
}